a {
    color: white;
    text-decoration: none;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 75px 1fr 50px;
    grid-template-areas:
        "hdr hdr"
        "aside main"
        "ftr ftr";
}

header, aside, main, footer {
    padding: 20px;
    text-align: center;
}

header {
    color: white;
    background-color: blue;
    grid-area: hdr;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

aside {
    background-color: yellow;
    grid-area: aside;
}

aside > img {
    border-radius: 50%;
}

main {
    grid-area: main;
}

footer {
    color: white;
    background-color: blue;
    grid-area: ftr;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header, footer {
}

h1 {
    color: rgb(33,87,51);
}

p {
    color: blue;
}

.mascot {
    height: 50px;
    vertical-align: middle;
}

.amigo_div {
    background-color: lightblue;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.amigo_div > img {
    width: 180px;
    height: 180px;
}